<%= form_for(movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :required => 'required' %>
  </div>
  <div class="select">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "Select One", :required => 'required'%>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :required => 'required' %>
  </div>

  <div class="field">
    <%= f.label :director %>
    <%= f.text_field :director, :required => 'required' %>
  </div>

  <div class="field">
    <%= f.label :length %>
    <%= f.text_field :length, :required => 'required' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
