<p id="notice"><%= notice %></p>

<h1>Movies</h1>
<div>
  <%if params[:category].blank?%>
    <h5> Wszystkie filmy </h5>
  <%else%>
    <h5>Gatunek: <%=params[:category] %> </h5>
  <%end%>
</div>
<div>
  <li class="dropdown">
    <a href="#" class"dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gatunki<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <% Category.all.each do |category|%>
      <li class="<%='active' if params[:category]==category.name %>">
        <%= link_to category.name, movies_path(category: category.name) %>
      </li>
      <% end %>
      <li> <%= link_to "All", movies_path %> </li>
    </ul>
  </li>
<div>

<div class="table-responsive">
<table class = "table">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Director</th>
      <th>Length</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><a href="/movies/<%= movie.id %>"><%=movie.title %></a></td>
        <td><%= movie.description %></td>
        <td><%= movie.director %></td>
        <td><%= movie.length %></td>
        <% if current_user.try(:admin?)%>
        <td><%= link_to 'Edit ', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy ', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<% if current_user.try(:admin?)%>
<%= link_to 'New Movie', new_movie_path %>
<% end %>
