<div class="row">
	<div class="col-md-12">
		<div>
			<h5>
				<a href="/users/<%=@user.id %>"> <%=@user.user_name %> </a>
			</h5>
			<h5 class="movie-desc">Imię: <%=@user.first_name%></h5>
			<h5 class="movie-desc">Nazwisko: <%=@user.last_name%></h5>
			<h5 class="movie-desc">Dołączył: <%=@user.created_at%></h5>
			<h5 class="movie-desc">Ostatnio Online: <%=@user.last_sign_in_at%></h5>
			<%if user_signed_in? %>
				<%if current_user.id==@user.id%>
					<li><%= link_to "Edytuj Profil", edit_user_registration_path(id: current_user.id)%> </li>
				<% end %>
			<% end %>
		</div>
	</div>
</div>