<p id="notice"><%= notice %></p>

<h1>Ranking</h1>
<div>
  <%if params[:category].blank?%>
    <h5> Wszystkie filmy </h5>
  <%else%>
    <h5>Gatunek: <%=params[:category] %> </h5>
  <%end%>
</div>
<div>
  <li class="dropdown">
    <a href="#" class"dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gatunki<span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
      <% Category.all.each do |category|%>
      <li class="<%='active' if params[:category]==category.name %>">
        <%= link_to category.name, ranking_index_path(category: category.name) %>
      </li>
      <% end %>
      <li> <%= link_to "All", ranking_index_path %> </li>
    </ul>
  </li>
<div>

<div class="table-responsive">
<table class = "table">
    <tr>
      <th style="width: 10%">Position</th>
      <th style="width: 70%">Title</th>
      <th style="width: 20%">Rating</th>
    </tr>
     
  </thead>

  <tbody>
    <% @count = 1 %>
    <% @movies.each do |movie| %>
      <tr>
        <td><%=@count%></td>
        <td><a href="/movies/<%= movie.id %>"><%=movie.title %></a></td>
        <td> <%= movie.rating %> </td>
      </tr>
      <% @count = @count + 1 %>
    <% end %>
  </tbody>
</table>
</div>