<%= form_for([@movie, @movie.reviews.build]) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="select">
    <%= f.label :rating %>
    <%= f.select :rating, [1,2,3,4,5,6,7,8,9,10], :prompt => "Select One", :required => 'required'%>
  </div>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment, :required => 'required' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
