<!DOCTYPE html>
<html>
  <head>
    <title>Projekt</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<p class="notice"> <%= notice %> </p>
  	<p class="alert"> <%= alert %> </p>
  	<% if user_signed_in? %>
  		<li> <%= link_to "Wyloguj się", destroy_user_session_path, method: :delete %> </li>	
  	<% else %>
  		<li> <%= link_to "Zaloguj się", new_user_session_path %> </li>
  		<li> <%= link_to "Zarejestruj się", new_user_registration_path %> </li>
  	<% end %>
    <%= yield %>
  </body>
</html>
