<!DOCTYPE html>
<html>
  <head>
    <title>Projekt</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-default">  
    	<p class="notice"> <%= notice %> </p>
    	<p class="alert"> <%= alert %> </p>

      <div class="navbar-header">
      <%= link_to "Strona główna", root_path, class: "navbar-brand"%>
      <%= link_to "Filmy", movies_path, class: "navbar-brand"%>
      </div>
      <ul class="nav navbar-nav navbar-right">
      	<% if user_signed_in? %>
          <% if current_user.try(:admin?)%>
          <li class="dropdown">
            <a href="#" class"dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin Panel<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Filmy", movies_path %></li>
            </ul>
          </li>
          <% end %>
          <li> <%= link_to "Wyloguj się", destroy_user_session_path, method: :delete %> </li> 
          <li> <%= link_to "Moje konto", user_path(id: current_user.id)%> </li>
      	<% else %>
      		<li> <%= link_to "Zaloguj się", new_user_session_path %> </li>
      		<li> <%= link_to "Zarejestruj się", new_user_registration_path %> </li>
      	<% end %>
     </ul>
    </nav>
  <%= yield %>
  </body>
</html>
